html, body
{
    height: 100%;
    width: 100%;
    position: absolute;

}

#map
{
    height: 850px;
}
.content
{
    width: 100%;
    padding-top: 30px;
}

.card-body {
    background-color: #212529;
    color: white;
}

.form-group {
    color: white;
}